body {
    margin: 0;
}

h5.card-title {
    display: none;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: black !important;
    background-color: #38D800 !important;
    border-color: #38D800 !important;
    width: 95% !important;
    margin: 0 !important;
}

.card .card-body {
    padding: 0;
    text-align: center;
}

.card-text.reply {
    padding: 1rem 2rem;
    pointer-events: none;
    -webkit-mask: linear-gradient(#000, #0000);
    mask: linear-gradient(#000, #0000);
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control {
    display: inline-block !important;
    width: 95% !important;
    padding: 0.2rem 1rem !important;
    background-color: #F0F0F0 !important;
}

.form-control::invalid {
    background-color: #F0F0F0 !important;
}

.expose {
    max-height: none !important;
    -webkit-mask: none !important;
    mask: none !important;
}