body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}

h1 {
    font-size: 20px;
}

main, footer {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

iframe {
    border: none; 
    /*min-height: 500px;*/
    min-width: 25rem;
}

form {
    width: 80%;
    margin: 0 auto;
}

.form-control {
    display: inline-block !important;
    width: 95% !important;
    padding: 0.2rem 1rem !important;
    margin: 0.5rem auto;
    background-color: #F0F0F0 !important;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover:not(.btn-active) {
    color: white !important;
    font-weight: bold;
    background-color: #38D800 !important;
    border-color: #38D800 !important;
    width: 95% !important;
    margin: 0 !important;
}

dialog .card-body {
    padding: 3rem;
}